// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..
@include icon-font('IcoMoon', inline-font-files('pictos/icomoon.woff', woff, 'pictos/icomoon.ttf', truetype, 'pictos/icomoon.svg', svg));
@include icon('map', '!', 'IcoMoon');
@include icon('lab', '"', 'IcoMoon');
@include icon('quotes-left', '#', 'IcoMoon');
@include icon('lightning', '$', 'IcoMoon');
@include icon('info', '%', 'IcoMoon');

// Examples of using the icon mixin:
@include icon('browser');

$default-font-size: 0.9em;
$dark-grey: #4B4B4B;

.about-content {
  $logo-size: 500px;

  .logo {
    text-align: center;

    img {
      width: $logo-size/2;
      height: $logo-size/2;
    }
  }
  .introduction {
    font-size: $default-font-size;
    margin: 1em 0;

    p {
      margin-bottom: 0.6em;
    }
  }
}

.denkmap-definitionlist {
  dt {
    font-size: 0.6em;
    margin-top: 0.8em;
    margin-bottom: 0.1em;
    color: $dark-grey;
    text-transform: uppercase;
  }
  dd {
    font-size: $default-font-size;
    margin: 0.2em 0;
  }
}
